*{
  margin: 0;
  padding: 0;
  font-family:Calibri;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.main{
max-width: 1200px;
margin: auto;
}

ul li.active a{
background-color: #111111;
}

.title{
position: absolute;
top: 12%;
left:5%;
}

.title h1{
color: #111111;
font-size: 20px;
}
